.rtc-media-box {
    width: 300px;
    height: 300px;
    position: relative;
}

.rtc-media-cell-box {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.rtc-media-stage-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
