.editor-box-active {
  width: 100%;
  height: 100%;
}

.editor-box {
  width: 100%;
  height: 100%;
}
.editor-box-active {
  .bf-controlbar * {
    pointer-events: auto;
  }
  .bf-content * {
    pointer-events: auto;
    cursor: text;
  }
}

.editor-box * {
  pointer-events: auto;
}

.editor-out-box {
  background-color: white;
}
